<div id="about">
     <h1>about us</h1>
     <p>know more about us &excl;</p>

     <div id="hero">
          <div id="right">
            <img src="img/about.svg" alt="About Us..">
        </div>
        <div id="left">
            <h1>we are always happy to help you &excl;</h1>
         
            <div id="btns2">

                <a href="/book"><input type="button" value="book appoinment.." id="btn" class="btn1 bk"></a>
            
            <input type="button" value="online meeting.." id="btn" class="btn2">        
        </div>
        </div>
       
    </div>

</div>