
    <div id="service">
        <h1>services</h1>
        <p>we give you best quality &excl;</p>
        <div id="container">

        <div class="box box1"><i class="fab fa-artstation one"></i><h2>web devlopment</h2></div>
        <div class="box box2"><i class="fas fa-atom two"></i><h2>ios devlopment</h2></div>
        <div class="box box3"><i class="fab fa-galactic-republic three"></i><h2>android devlopment</h2></div>
        <div class="box box4"><i class="far fa-user-astronaut for"></i><h2>react devlopment</h2></div>
        <div class="box box5"><i class="fal fa-chart-network five"></i><h2>angular devlopment</h2></div>
        <div class="box box6"><i class="fas fa-eclipse six"></i><h2>backend devlopment</h2></div>
        </div>
    </div>